

<!--<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>-->

<div class="cards">
<% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image:url(<%= asset_path "wood" %>)">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
<% end %>
</div>

####
<div class="cards">
<% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image:url(<%= asset_path "#{cocktail.name}.jpg" %>)">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
<% end %>
</div>

####

Mojiiiiito
Cuba free
Tijuana
New cocktail
New cocktail 2
teste 3
teste 4

<%= link_to "New cocktail", new_cocktail_path %>
<img src="<%= asset_path "Cuba free" %>" alt="">