<h2><%= @cocktail.name %></h2>
<div class="d-flex justify-content-center">
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item"><%= dose.description %> of <%=dose.ingredient.name %>

        
            <%= link_to "Remove",
                    dose,
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </li>
        <% end %>
  </ul>
</div>  
<div class="d-flex justify-content-center">
  <%= link_to 'Add a recipe', new_cocktail_dose_path(@cocktail), :class => "btn btn-gradient mx-2" %>
  <%= link_to 'Back', cocktails_path, :class => "btn btn-gradient mx-2" %> 
</div>