<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Keep Drinking</a>

    </nav>

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dzml8ygng/image/upload/v1600711130/banner-f019a66d62719791ebef2024b10e6f93bab6e9d7c99a89b8e7c8140d3d14bd72_odswvu.jpg');">
      <div class="container">
        <h1>Le Wagon brings <strong>Alcohol</strong> to <strong>creative people</strong>!</h1>
        <p><%= @phrases %></p>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Account-onmi-2xplanet"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/bruno-parente-norberto/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   Eat, drink and <i class="fas fa-heart"></i> ...the rest is not worth a nickel.
  </div>
</div>

  </body>
</html>
